extends base.pug
include mixins/video

block content
  .video-grid
    each video in videos 
      +video(video)
      +video(video)
      +video(video)
      +video(video)
      +video(video)
      +video(video)
      +video(video)
      +video(video)
      +video(video)
    else
      span.empty__message No video found.

  a(href="videos/upload") Upload video
