extends base
include mixins/search-results.pug

block content
  .search
    each vid in videos 
      +search-results(vid)
      +search-results(vid)
      +search-results(vid)
      +search-results(vid)
      +search-results(vid)
      +search-results(vid)
    else
      span.empty__message No video found.
      br
