extends base
include mixins/video.pug

block content
  form.search__form(action="/search", method="GET")
    input(placeholder="Search by title", name="keyword", type="text")
    button(type="submit") 
      i.fas.fa-search
  .video-grid
    each vid in videos 
      +video(vid)
    else
      span.empty__message No video found.
      br

  a(href="/") Back to home🏠
