header
  a.header__logo(href="/")
    i.fab.fa-youtube
  form.search__form(action="/search", method="GET")
    input#search__input(
      placeholder="Search by title",
      name="keyword",
      type="text"
    )
    button(type="submit") 
      i.fas.fa-search
  nav
    ul
      if loggedIn
        li
          a(href="/videos/upload") Upload Video
        li
          a(href=`/users/${loggedInUser._id}`) My Profile
        li
          a(href="/users/edit") Edit Profile
        li
          a(href="/users/logout") Logout
      else
        li
          a(href="/join") Join
        li
          a.header__btn(href="/login") Login
